.Rproj.user
diocesan-stats/diocesan-stats-by-civic-area
*.html
R/*_files
R/*_cache
*.xlsx
/.Rhistory
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

geospatial-data/coi-dioceses-as-small-area-conglomerations.geojson
